.container_boka {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 100vw;
    background-color: #587EDF;
    font-family: sans-serif, Montserrat-Regular;
}

.info {
    margin-right: 0;
    margin-left: 0;
    grid-row: 1/5;
    grid-column: span 2;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 40px;
}

.info .date {
    font-size: 20px;
}
.from {
    grid-row: 2/3;
    grid-column: span 1;
    margin-left: 20px;
}
.from input {
    width: 200px;
    height: 50px;

}
.to {
    grid-row: 2/3;
    grid-column: span 1;
}

.to input {
    width: 200px;
    height: 50px;
}

.arrival {
    grid-row: 2/3;
    grid-column: span 1;
    margin-left: 20px;
}

.arrival input {
    width: 200px;
    height: 50px;
}

.home {
    grid-row: 2/3;
    grid-column: span 1;
}

.home input {
    width: 200px;
    height: 50px;
}

.date {
   font-weight: bold;
    width: 100px;
    height: 40px;
    grid-row: 1/2;
    grid-column: 3/4;
    color: white;
}

.logo_boka img {
    display: block;
    margin-left: 75px;;
    margin-right: auto;
    width: 100%;
    grid-column: 1/2;
    align-items: center;
}

.sort {
    grid-row: 7/8;
    grid-column: 1;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.sort hr {
    color: black;
}

.sort p:last-child {
    border: solid 2px black;
}

.results {
    grid-row: 5/8;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.results a {
    grid-row: 1/2;
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    text-decoration: none;
    color: white;
    
}

.finnair img {
    grid-row: 1;
    grid-column: 1/2;
    padding-top: 23px;
}

.result1 {
    grid-row: 1;
    grid-column: 2/4;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price {
    grid-row: 1;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.sas {
    padding-top: 17px;
    grid-row: 2;
    grid-column: 1/2;
    margin-left: 20px;
}

.destination2 {
    font-size: 15px;
    grid-row: 2;
    grid-column: 2/4;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price2 {
    grid-row: 2;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
}

.estonian {
    grid-row: 3;
    grid-column: 1/2;
    padding-top: 17px;
}

.destination3 {
    font-size: 15px;
    grid-row: 3;
    grid-column: 2/4;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price3 {
    grid-row: 3;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 415px) and (max-height: 737px) {

.container_boka {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 100vw;
    background-color: #587EDF;
    font-family: sans-serif, Montserrat-Regular;

}

.info {
    margin-right: 0;
    margin-left: 0;
    grid-row: 1/5;
    grid-column: span 2;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;

}

.from {
    grid-row: 2/3;
    grid-column: span 1;
    margin-left: 20px;
}
.from input {
    width: 100px;
    height: 15px;

}
.to {
    grid-row: 2/3;
    grid-column: span 1;
}

.to input {
    width: 100px;
    height: 15px;
}

.arrival {
    grid-row: 5/6;
    grid-column: span 1;
    margin-left: 20px;
}

.arrival input {
    width: 100px;
    height: 15px;
}

.home {
    grid-row: 5/6;
    grid-column: span 1;
}

.home input {
    width: 100px;
    height: 15px;
}

.date {
   font-weight: bold;
    width: 100px;
    height: 40px;
    grid-row: 4/5;
    grid-column: span 1;
    color: white;
    margin-left: 20px;
}

.logo_boka img {
    display: block;
    margin-left: 75px;;
    margin-right: auto;
    width: 100%;
    grid-column: 1/2;
    align-items: center;
}

.sort {
    grid-row: 7/8;
    grid-column: 1;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.sort hr {
    color: black;
}

.sort p:last-child {
    border: solid 2px black;
}

.results {
    grid-row: 5/8;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.results a {
    grid-row: 1/2;
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    text-decoration: none;
    color: white;
    
}

.finnair img {
    grid-row: 1;
    grid-column: 1/2;
    padding-top: 23px;
}

.result1 {
    grid-row: 1;
    grid-column: 2/4;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price {
    grid-row: 1;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.sas {
    padding-top: 17px;
    grid-row: 2;
    grid-column: 1/2;
    margin-left: 20px;
}

.destination2 {
    font-size: 15px;
    grid-row: 2;
    grid-column: 2/4;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price2 {
    grid-row: 2;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
}

.estonian {
    grid-row: 3;
    grid-column: 1/2;
    padding-top: 17px;
}

.destination3 {
    font-size: 15px;
    grid-row: 3;
    grid-column: 2/4;
    text-align: center;
    color: white;
    font-weight: bold;
}

.price3 {
    grid-row: 3;
    grid-column: 4/7;
    color: white;
    font-weight: bold;
}
}