<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resify</title>
    <link rel="stylesheet" href="css/boka.css">
</head>

<body>
    <div class="container">
        <div class="info">
            <div class="logo"><a href="index.html">
                <img src="img/logo.png" width="150" height="50" alt="">
                </a>
            </div>
            <div class="from">
                <input type="text" name="Från" value="Från">
            </div>
            <div class="to">
                <input type="text" name="Till" value="Till">
            </div>
            <div class="date">
                <p>Datum:</p>
            </div>
            <div class="arrival">
                <input type="text" name="Avgång" value="Avgång">
            </div>
            <div class="home">
                <input type="text" name="Hemgång" value="Hemgång">
            </div>
            <div class="sort">
                <p>Sortera efter:</p>
                <p>Pris</p>
                <hr align="left" width="200%">
            </div>
        </div>
        <div class="results">
                <a href="info.html">
                    <div class="result1">
                        <p>GBG ➜ HI</p>
                    </div>
                    <div class="finnair">
                        <img src="img/finnair.png">
                    </div>
                    <div class="price">
                        <p>3h 30m 949 :-</p>
                    </div>
                </a>
            <div class="sas">
                <img src="img/sas.png" alt="">
            </div>
            <div class="destination2">
                    <p>GBG ➜ HI</p>
            </div>
            <div class="price2">
                <p>3h 10m 1029 :-</p>
            </div>
            <div class="estonian">
                <img src="img/estonian.png" alt="">
            </div>
            <div class="destination3">
                    <p>GBG ➜ HI</p>
            </div>
            <div class="price3">
                    <p>3h 0m 1100 :-</p>
            </div>
        </div>
    </div>
    </div>

</body>

</html>