
<body>
    <div class="fade-layer"></div>
    <div class="container_index">

        <div class="menu" onclick="toggleMenu()">
            <i class="material-icons" close>close</i>
            <ul>
                <a href="boka.html">
                    <li>Boka Resa</li>
                </a>
            </ul>
        </div>

        <header>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
            <div class="logo">
                <img src="img/logo.png" width="150" height="50" alt="">
            </div>

        </header>
        <div class="content_index">
            <a href="boka.html">
                <div class="boka">
                    <p>Boka resa</p>
                </div>
            </a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body >

</html >