
<body>
    <div class="container_info">
        <header>
            <div class="infotext">
                <h2>Info</h2>
            </div>
        </header>
        <div class="content_info">
            <div class="generalinfo">
                <div class="flightlogo">
                    <img src="img/finnair.png" alt="finnair">
                </div>
                <div class="flightinfo">
                    <p>GBG → HI</p>
                </div>
                <div class="date_info">
                    <p>27/07-18 → 30/07-18</p>
                </div>
            </div>
            <div class="specificinfo">
                <div class="flighttime">
                    <p>Flygtid: 90min</p>
                </div>
                <div class="price_info">
                    <p>Pris: 11300 :-</p>
                </div>
                <div class="type">
                    <p>Typ: Airbus A320</p>
                </div>
                <div class="departure">
                    <p>Avgång: 11:30</p>
                </div>
                <div class="arrival">
                    <p>Ankomst: 13:00</p>
                </div>
            </div>
            <div class="footer">
                <a href="Klar.html">
                    <div class="boka_info">
                        <p>Boka Resa</p>
                    </div>
                </a>
            </div>


        </div>
    </div>

</body>

</html>